<figure
  *ngIf="data"
  class="flex items-center bg-white hover:bg-gray-50 rounded-xl md:flex-row md:max-w-xl dark:bg-slate-800 relative cursor-pointer dark:hover:bg-slate-700"
>
  <ng-container
    *ngIf="data.employee_age > 30 ? images.old : images.young as image"
  >
    <img
      class="w-24 mx-4 inset-0 object-cover rounded-full"
      [ngSrc]="image.name"
      [width]="image.width"
      [height]="image.height"
      priority
      alt=""
    />
  </ng-container>
  <figcaption
    class="flex-1 flex flex-col justify-between p-4 pl-0 leading-normal space-y-2 md:pl-4"
  >
    <h5
      class="text-lg font-bold tracking-tight text-slate-600 dark:text-gray-50"
    >
      {{ data.employee_name }}
    </h5>

    <p class="font-normal text-slate-700 dark:text-slate-400">
      Age: <span class="font-medium">{{ data.employee_age }} years</span>
    </p>

    <p class="font-normal text-slate-700 dark:text-slate-400">
      Salary:
      <span class="font-medium">{{
        data.employee_salary | currency : '$' : 'symbol' : '3.0'
      }}</span>
    </p>
  </figcaption>
</figure>
